.footer-disclaimer {
    position: fixed;
    bottom:0.5%;
    right: 0.5%;
    font-size: 1.1rem;
}
.header {
    padding-top: 5rem;
    text-align: center
}
.container {
    padding-top: 10%;
    min-height: -webkit-fill-available;
    height: 50%;
    min-height: fill-available;
}
.top-banner {
    position: fixed;
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    z-index: 999;
}